* {
    box-sizing: border-box;
}

.slider {
    width: 80vw;
    text-align: center;
    overflow: hidden;
}

.animated-slider::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-20px);
    }
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 80vw;
    height: 45vw;
    margin-right: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.53);
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides {
    display: flex;
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides div img {
    object-fit: scale-down;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0.25rem 0.5rem 0;
    position: relative;
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

