h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F1FAEE;
  font-size: 4rem;
}
*{
  transition: all 700ms;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillImage{
  display: block;
  max-width: 100%;
  height: auto;

}

body {
  width: 100%;
  height: 100vh;
  background-color: #6994c3;
  background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0.239), transparent),
    radial-gradient(circle at 20% 80%, rgba(0, 0, 0, 0.13), transparent);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

.window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 20px;
}

.window p {
  text-align: center;
  color: #fff;
}

.window button {
  display: block;
  margin: 2vw auto;
  margin-bottom: 7vw;
}

.window.show {
  display: block;
}

button {
  background-color: #333333;
  box-shadow: rgba(176, 213, 255, 0.25) 0 -25px 18px -14px inset,
  rgba(187, 216, 255, 0.16) 0 1px 2px, rgba(255, 255, 255, 0.12) 0 2px 4px,
  rgba(0, 130, 255, 0.61) 0 4px 8px, rgba(89, 156, 255, 0.25) 0 8px 16px,
  rgba(229, 236, 255, 0.25) 0 16px 32px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px;
  border: 0;
  text-align: center;
}

button:hover {
  background-color: white;
  color: black;
  box-shadow: rgba(44, 101, 187, 0.35) 0 -25px 18px -14px inset,
  rgba(59, 139, 255, 0.25) 0 1px 2px, rgba(44, 123, 187, 0.25) 0 2px 4px,
  rgba(44, 116, 187, 0.25) 0 4px 8px, rgba(89, 156, 255, 0.25) 0 8px 16px,
  rgba(141, 175, 255, 0.25) 0 16px 32px;
  border-radius: 30px;
  transform: scale(1.05) rotate(-1deg);
}

/* Media query pour les écrans de moyenne taille */
@media only screen and (max-width: 1000px) {
  canvas {
    z-index: -1;
  }
}