h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F1FAEE;
  font-size: 4rem;
}
*{
  transition: all 700ms;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fillImage{
  display: block;
  max-width: 100%;
  height: auto;

}

body {
  width: 100%;
  height: 100vh;
  background-color: #6994c3;
  background-image: radial-gradient(circle at top right, rgba(255, 255, 255, 0.239), transparent),
    radial-gradient(circle at 20% 80%, rgba(0, 0, 0, 0.13), transparent);
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

.window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
}

.window p {
  text-align: center;
  color: #fff;
}

.window button {
  display: block;
  margin: 20px auto;
}

.window.show {
  display: block;
}

/* Media query pour les écrans de moyenne taille */
@media only screen and (max-width: 1000px) {
  canvas {
    z-index: -1;
  }
}