.slider {
  width: 80vw;
  margin-top: 30vh;
  margin-bottom: 50px;
  text-align: center;
  overflow: hidden;
}

.slider h2 {
  text-align: center;
  text-transform: uppercase;
  color: #F1FAEE;
  font-size: 3rem;
}

.buttons {
  margin-bottom: 0.5rem;
}

.slider .buttons a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.25rem 0.5rem 0;
  position: relative;
  font-size: 0.75rem;
  color: #333;
}

.slider .buttons a:active {
  top: 1px;
}

.slider .buttons a:focus {
  background: #000;
  color: #fff;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 80vw;
  height: 35vw;
  margin-right: 50px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.53);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slides div img {
  object-fit: scale-down;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slides div video {
  object-fit: scale-down;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}